body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 31, 63);
}

header {
    display:flex ;
    background-color:rgb(44, 62, 80);
    color: #fff;
    text-align: center;
    padding: 20px;
    justify-content:space-between;
}
.nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#tabs {
    background-color: #333;
}

#tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#tabs li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#tabs li.active {
    background-color: #555;
}

#content {
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
/* .logo {
   justify-content: start;
}

.nav {
    justify-content:end;
    font-size: 20px;
   
}

.perfil {
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: #333;
}

.img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px; 
    right: 50%;
}


section {
    padding: 40px;
} */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 20%;
    padding: 10px;
    width: 100%;
    height: 100px;
    bottom: 0;

}

